.breadcrumb {
  @include susy-clearfix;

  background-color: #fff;
  border-bottom: 1px solid rgba(#000, .09);
  display: block;
  list-style: none;
  margin: 0 -40px;
  padding: 7px 40px;
  position: relative;
  top: -40px;

  @media (max-width: $tablet) {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .public & {
    background-color: transparent;
    border: 0;
    margin-bottom: -36px;
    margin-top: 30px;
    padding: 0 40px;

    @media (max-width: $tablet) {
      padding: 0 20px;      
    }
  }

  .page-template-page-home & {
      display: none;
  }
}

.breadcrumb-item {
  color: $color-black-light;
  float: left;
  font-size: 11px;

  &:after {
    color: $color-black-lightest;
    content: '/';
    margin: 0 10px;
  }

  &:last-child {
    &:after {
      display: none;
    }
  }

  a {
    color: $color-black-light;
    text-decoration: none;
  }
}