::-webkit-input-placeholder, .placeholder {
  color: $color-black-light;
}

label {
  border-bottom: 0;
  border-radius: 3px 3px 0 0;
  color: $color-black;
  cursor: pointer;
  display: block;
  font-size: 11px;
  font-weight: 600;
  line-height: 1;
  margin: 0;
  padding: 0 0 7px 0;
  text-transform: uppercase;
}

legend {
  clear: both;
  color: $color-black-darker;
  display: block;
  float: left;
  font-size: 16px;
  margin: 0 0 20px 0;
  width: 100%;
}

fieldset {
  border: 1px solid rgba(#000, .09);
  margin: 0 0 30px 0;
  padding: 20px;
}

button, input {
  -webkit-appearance: none;

  &:active, &:focus {
    box-shadow: none;
    outline: none;
  }
}

input[type=text], input[type=email], input[type=password], input[type=number], input[type=url], textarea {
  -webkit-appearance: none;
  background-color: #fff;
  border: 1px solid rgba(#000, .09);
  border-radius: 3px;
  box-sizing: border-box;
  color: $color-black-darker;
  display: block;
  height: 39px;
  line-height: 39px;
  margin: 0 0 15px 0;
  padding: 0 10px;
  width: 100%;

  &:active, &:active:focus, &:focus {
    outline: none;
  }

  &.has-datepicker {
    box-shadow: inset 0 1px 3px rgba(#000, .08) !important;
  }
}

input[type=submit], button[type=submit] {
  @extend .btn, .btn-secondary;
}

textarea {
  height: auto;
  line-height: 22px;
  padding: 10px;
}

.required {
  color: $color-red;
  margin: 0 0 0 5px;
}

.form-group-addon {
  display: table;
  width: 100%;

  > * {
    display: table-cell;
    vertical-align: middle;
  }
}

.form-wrapper {
  align-items: center;
  background-color: #fcfcfc;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;

  h1 {
    font-size: 24px;
    font-weight: 300;
    margin: 0 0 30px 0;
  }

  .form-group-button {
    @include susy-clearfix();
    margin-bottom: 30px;
  }
}

.form-inner {
  width: 340px;
}

.login-form {
  .form-group-button {
    @include susy-clearfix();
  }
}

.login-form-reset-link {
  @include susy-clearfix();

  border-top: 1px solid rgba(#000, .09);
  clear: both;
  margin: 20px 0 0 0;
  padding: 20px 0;
  text-align: center;

  a {
    color: $color-secondary;
    font-weight: 400;
    text-decoration: none;
  }
}

i.mce-ico {
  font-family: 'dashicons' !important;
}

.wp-editor-container {
  border: 1px solid rgba(#000, .09);
  border-top: 0;
  border-radius: 0 0 3px 3px;
  margin: 0 0 15px 0 !important;
}

.site-search {
  .form-control-before {
    background-color: #fff;
    border: 1px solid rgba(#000, .09);
    border-radius: 3px 0 0 3px;
    border-right: 0;
    font-size: 16px;
    padding: 0 0 0 12px;

    i {
      vertical-align: -1px;
    }
  }

  .form-control {
    border-left: 0;
    margin: 0;
    padding-left: 0;
  }
}