.header-public-top {
	@include susy-clearfix();

	@media (max-width: $desktop) {
		display: none;
	}

	.page-template-page-home & {
		display: none;
	}
	
	background-color: $color-black-darker;	
	color: rgba(#fff, .7);
	font-size: 11px;
	padding: 7px 0;

	ul {		
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			border-right: 1px solid rgba(#fff, .12);
			display: inline-block;
			line-height: 1;
			padding: 0 12px 0 0;
			margin: 0 12px 0 0;

			a {
				color: rgba(#fff, .7);
				font-size: 11px;
				line-height: 1;

				&:hover {
					color: #fff;
				}
			}

			&:last-child {
				border-right: 0;
				margin-right: 0;
				padding-right: 0;
			}

			ul {
				display: none;
			}
		}
	}

	strong {
		color: #fff;
		font-weight: 500;
		margin: 0;
	}
}

.header-public-top-left {
	float: left;
}

.header-public-top-right {
	float: right;
}

.header {
	form {
		float: left;
	}

	.search-query {
		background-color: transparent;
		border: 0;
		height: 74px;
		line-height: 74px;
		padding: 0;
		width: 360px;
	}
}

.header-user {
	background-color: #fff;
	border: 1px solid rgba(#000, .09);
	border-radius: 18px;
	float: right;
	margin: 2px 0 0 0;
	padding: 3px;	
	position: relative;
	z-index: 999;

	@media (max-width: $tablet) {
		right: 20px;
	}

	&:after {
		background-color: transparent;
		bottom: -10px;
		content: '';
		height: 10px;
		left: 0;
		position: absolute;
		right: 0;
	}

	&:hover {
		.menu {
			opacity: 1;
			transition: all .2s linear;
			visibility: visible;
		}
	}

	.menu {
		background-color: #414141;
		box-shadow: 0 1px 2px rgba(#000, .2);
		font-size: 12px;
		margin: 42px 0 0 0;
		min-width: 150px;
		opacity: 0;
		padding: 0;
		position: absolute;
		right: 0;
		text-align: right;
		top: 0;
		visibility: hidden;
		width: 160px;
		z-index: 10;

		&:after {
			border: 4px solid transparent;
			border-bottom-color: #414141;
			content: '';
			display: block;
			height: 0;
			position: absolute;
			right: 14px;
			top: -8px;
			width: 0;
		}

		li {
			display: block;
			position: relative;
			white-space: nowrap;

			&:last-child {
				a {
					border-bottom: 0;
				}
			}

			&:first-child {
				&:hover {
					&:after {
						border: 4px solid transparent;
						border-bottom-color: $color-secondary;
						content: '';
						display: block;
						height: 0;
						position: absolute;
						right: 14px;
						top: -8px;
						width: 0;
						z-index: 9;
					}
				}
			}
		}

		a {
			border-bottom: 1px solid rgba(#fff, .12);
			color: rgba(#fff, .7) !important;
			display: block;
			padding: 9px 16px;
			text-decoration: none;
			transition: none;

			&:hover {
				background-color: $color-secondary;
				border-bottom-color: $color-secondary;
				color: #fff !important;

				&:after {
					color: #fff;
				}
			}
		}
	}
}

.header-user-avatar {
	float: left;
	margin: 0 12px 0 0;

	img {
		border-radius: 50%;
		//box-shadow: 0 1px 2px rgba(#000, .12);
		display: block;
		height: 28px;
		width: auto;
	}
}

.header-user-name {
	float: left;
	font-size: 12px;
	font-weight: 400;
	line-height: 28px;
	margin: 0 12px 0 0;

	a {
		color: $color-black;
		text-decoration: none;
	}

	i {
		font-size: 18px;
		vertical-align: -3px;
	}
}

.header-nav {
	float: right; 
	list-style: none;
	margin: 27px 10px 0 0;
	padding: 0;


	li {
		float: left;
		margin: 0 15px;
	} 

	a {
		color: $color-black-light;
		text-decoration: none;

		i {
			font-size: 20px;
		}

		&:hover {
			color: $color-primary;
		}
	}
}

.header-public {
	.page-template-page-home & {
		background-color: transparent;
	}
}

.header-public-nav {
	float: right;
}

.header-public {
	box-shadow: 0 1px 2px rgba(#000, .12);
	box-sizing: border-box;
	margin: 0 -1200px;
	padding: 20px 1200px;
	z-index: 10;

	img {
		height: 32px;
		margin: 0 10px 0 0;
		vertical-align: middle;
		width: auto;
	}

	a {
		text-decoration: none;
	}

	.page-template-page-home & {
		box-shadow: none;
		border: 0;
	}
}

.header-public-logo-title {
	color: $color-black-darker;
	font-size: 17px;
	font-weight: 400;
	line-height: 32px;
	margin: 0;
	vertical-align: middle;

	.page-template-page-home & {
		color: #fff;
	}
}

.header-toggle {
	cursor: pointer;
	float: right;
	margin: 5px 15px 0 0;
	width: 20px;

	span {
		background-color: $color-black-darker;
		display: block;		
		margin: 4px 0;
		height: 2px;
		box-sizing: border-box;

		.page-template-page-home & {
			background-color: #fff;
		}
		
		&:first-child {
			margin-left: 5px;
			width: 15px;
		}
		&:nth-child(2) {
			margin-left: 5px;
			width: 10px;
		}

		&:last-child {
			width: 15px;
		}
	}	

	@media (min-width: $tablet) {
		display: none;
	}
}

.menu-social-container {
	float: right;
	margin: 0 0 0 30px;

	li {		
		font-size: 16px;
		line-height: 16px;
		margin: 0 0 0 30px !important;

		&:first-child {
			margin-left: 0 !important;
		}

		a {
			color: $color-black-light !important;

			.page-template-page-home & {
				color: rgba(#fff, .8) !important;
			}

			&:hover {
				color: $color-secondary !important;

				.page-template-page-home & {
					color: #fff !important;
				}				
			}
		}
	}
}

.header-toggle-secondary { 
	cursor: pointer;
	float: right;
	margin: 10px 0 0 15px;
	width: 20px;

	span {
		background-color: $color-black;
		box-sizing: border-box;
		display: block;				
		height: 2px;		
		margin: 4px 0;
		position: relative;
		transition: all .2s ease;

		&:before {
			background-color: #fff;
			content: '';
			display: block;
			height: 2px;
			left: 3px;
			position: absolute;
			top: 0;
			width: 2px;
		}

		&:nth-child(2) {			
			&:after {
				background-color: #fff;
				content: '';
				display: block;
				height: 2px;
				position: absolute;
				right: 0;
				top: 0;
				width: 4px;
			}
		}
	}	

	&:hover {
		span {
			background-color: $color-black-darker;
		}
	}
}