.main-inner {
  .widget-title {
    border-bottom: 1px solid rgba(#000, .09);
    font-weight: 400;
    font-size: 18px;
    margin: 0 0 20px 0;
    padding: 0 0 10px 0;
  }

  iframe {
    width: 100%;
  }
}