$color-primary: #0f2c66 !default;
$color-secondary: #0f8be3 !default;

$color-black: #757575 !default;
$color-black-darker: #323232 !default;
$color-black-light: #9E9E9E !default;
$color-black-lighter: #d1d1d1 !default;
$color-black-lightest: #dedede !default;

$color-green: #4CAF50 !default;
$color-red: #F44336 !default;
$color-purple: #8E24AA !default;
$color-indigo: #3949AB !default;
$color-teal: #00796B !default;
$color-cyan: #0097A7 !default;

$color-background: #fff !default;
$color-task: #8E24AA;
$color-touchpoint: #EF6C00;
$color-calendar: #e61717;

$container-width: 1200px;
$hero-height: 750px !default;

$small-device-padding: 20px;

$mobile: 34em;
$tablet: 48em;
$desktop: 62em;
$largedesktop: 79em;

$color-customizer-black: #3A3A3C;
$color-customizer-magenta: #C60751;
$color-customizer-magenta-medium: #C44D58;
$color-customizer-magenta-dark: #452632;
$color-customizer-purple: #3A303F; 
$color-customizer-orange: #EF5E4E;
$color-customizer-orange-dark: #E4844A;
$color-customizer-blue-dark: #022D42;
$color-customizer-blue: #039BE5;
$color-customizer-green: #4CAF50; 
$color-customizer-brown: #46433A;
$color-customizer-brown-dark: #1F0C0C;
$color-customizer-cyan: #64B6B1;
$color-customizer-cool-grey: #556270;
$color-customizer-red: #D31F0D;